<h1>我的个人资料</h1>

<<<<<<< HEAD
<p>Email: <%= @user.email %> </p>
=======
<p>Email: <%= @user.email %></p>
>>>>>>> origin/ch19
<p>Timezone: <%= @user.time_zone %></p>
<p>Birthday: <%= @user.profile.birthday %></p>
<p>Bio: <%= simple_format @user.profile.bio %></p>
